@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #f1f1f1;
}

/*========== Nav ==========*/

nav img {
    height: 175px;
    width: 175px;
}

nav {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
}

nav .links a {
    font-size: 18px;
    font-weight: 500;
}

nav .links a:not(:last-child) {
    margin-right: 20px;
}

nav .login button {
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

nav .login button.signup {
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

/*========== header ==========*/

header {
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left {
    width: 500px;
}

header .left h1 {
    font-size: 80px;
}

header .left h1 span {
    color: #820f0f;
}

header .left p {
    margin: 40px 0;
    color: #777;
}

header .left a {
    display: flex;
    align-items: center;
    background: #000;
    width: 200px;
    padding: 8px;
    border-radius: 60px;
}

header .left a i {
    background-color: #fff;
    font-size: 24px;
    border-radius: 50%;
    padding: 8px;
}

header .left a span {
    color: #fff;
    margin-left: 10px;
}

header video {
    width: 600px;
    border-radius: 15px;
}

/*========== Seperator ==========*/

h2.seperator {
    padding: 0 80px;
    margin-top: 40px;
    font-size: 40px;
}

/*========== home-info and on show ==========*/

.home-info {
    padding: 0 80px;
    margin: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.home-info .box,
.on-show .vehicle,
.main-about .about-info,
.main-about .sidebar-reviews,
.main-contact .contact-info,
.main-contact .sidebar-reviews {
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.home-info .box:hover,
.on-show .vehicle:hover,
.main-about .about-info:hover,
.main-about .sidebar-reviews:hover,
.main-contact .contact-info:hover,
.main-contact .sidebar-reviews:hover {
    box-shadow: none;
}

.home-info .box .box-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-info .box .box-header i {
    font-size: 40px;
}

.home-info .box .box-header h5 {
    font-size: 18px;
}

.home-info .box p {
    margin-top: 10px;
    padding: 0 4px;
}

.on-show {
    padding: 0 80px;
    margin-top: 30px;
}

.on-show .on-show-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.vehicle img {
    height: 280px;
    width: 280px;
    border-radius: 10px;
    object-fit: cover;
}

.on-show .on-show-container .vehicle .vehicle-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #edecec
}

.on-show .on-show-container .vehicle .vehicle-info h5 {
    font-size: 18px;
}

.on-show .on-show-container .vehicle .vehicle-info .price {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.on-show .on-show-container .vehicle .price i {
    font-size: 25px;
    color: #820f0f;
}

.on-show .on-show-container .vehicle .price p {
    font-size: 12px;
    color: #820f0f;
}

.on-show .on-show-container .vehicle .view {
    padding: 14px 0 4px;
    float: right;
}

.on-show .on-show-container .vehicle .view a {
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 10px;

    color: #820f0f;
    background: transparent;
    font-weight: bold;
    transition: all 0.3s ease;
}

.on-show .on-show-container .vehicle .view a:hover {
    color: #fff;
    background-color: #000;
}

/*========== Footer and copyright ==========*/

footer {
    padding: 100px 80px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

footer h3 {
    font-size: 18px;
}

ul.styled {
    list-style-type: none;
}

ul.styled li {
    padding: 8px 0;
}

ul.styled li a {
    color: #fff;
}

#box3 .newsletter {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

#box3 .newsletter p span a {
    display: block;
    padding: 8px 0;
    color: #777;
}

#box3 .newsletter input {
    width: 50%;
    margin: 8px 0;
    border-radius: 10px;
}

#box3 .newsletter button {
    width: 150px;
    height: 50px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
}

#box3 .newsletter button:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#box4 p {
    padding: 8px 0;
}

#box4 a {
    padding: 8px 0;
    color: #fff;
}

#box4 i {
    font-size: 25px;
}

#box4 img {
    display: block;
    height: 175px;
    width: 175px;
}

#copyright p {
    padding: 10px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
}

/*========== Vehicles, About and contact ==========*/

.vehicle-header {
    height: 350px;

    background: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 65%;
}

.about-header {
    height: 350px;

    background: url(images/vehicle-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;
}

.contact-header {
    height: 350px;

    background: url(images/contact-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 70%;
}

.vehicle-header .vehicle-header-content,
.about-header .about-header-content,
.contact-header .contact-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    color: #fff;
    background-color: rgba(0, 0, 0, 0.733);
}

.vehicle-header-content h1,
.about-header-content h1,
.contact-header-content h1 {
    font-size: 80px;
}

.vehicle-header-content p {
    font-size: 18px;
    padding-top: 5px;
}

.main-about,
.main-contact {
    padding: 0 80px;
    margin: 50px 0 80px;

    display: flex;
    justify-content: space-between;
}

.main-about .about-info,
.main-contact .contact-info {
    width: 700px;
}

.main-about .about-info span {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.main-about .sidebar-reviews,
.main-contact .sidebar-reviews {
    height: fit-content;
    width: 300px;
}

.main-about .sidebar-reviews h3,
.main-contact .sidebar-reviews h3 {
    padding: 10px 0;
}

.main-about .sidebar-reviews ul.styled,
.main-contact .sidebar-reviews ul.styled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-about .sidebar-reviews ul.styled li,
.main-contact .sidebar-reviews ul.styled li {
    border-top: solid 1px #e5e5e5;
    padding: 14px 0;
}

.main-about .sidebar-reviews ul.styled li a,
.main-contact .sidebar-reviews ul.styled li a {
    color: #820f0f;
}

.main-contact .contact-info span {
    padding: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

.main-contact .contact-info ul {
    list-style-type: none;
    padding: 10px 10px;
}

.main-contact .contact-info ul li,
.main-contact .contact-info p {
    padding: 5px 0;
}

.main-contact .contact-info form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 10px;
}

.main-contact .contact-info input.text,
.main-contact .contact-info input.email {
    height: 20px;
    width: 50%;
    border-radius: 10px;
} 

.main-contact .contact-info input.submit {
    width: 150px;
    height: 50px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
}

.main-contact .contact-info input.submit:hover {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease;
}